.application__top {
  margin-bottom: 142px;
}

.application__title {
  color: var(--black);

  font-family: Montserrat;
  font-size: 98px;
  font-style: normal;
  font-weight: 500;
  line-height: 84px;
  margin-bottom: 74px;
}

.application__span {
  color: var(--black);

  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.6px;
  /* 160.833% */
  max-width: 618px;
}

.application__item {
  color: var(--black);
}

.app-answer {
  max-width: 1200px;
}

.application__item:not(:last-child) {
  margin-bottom: 92px;
}

.app-item__title {
  color: var(--black);
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  /* 147.059% */
  margin-bottom: 41px;
}

.app-btn__group .app__btn:not(:last-child) {
  margin-right: 22px;
  margin-bottom: 22px;
}

.app__btn {
  color: var(--black);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38.6px;
  /* 160.833% */


  padding: 12px 72px;
  border-radius: 30px;
  background: #EBEBEB;
}

.app-input__group {
  display: flex;
  flex-direction: column;
}

@media (max-width: 980px) {
  .application__title {
    font-size: 45px;
  }
}

@media (max-width: 602px) {

  .header__container {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .application__title {
    font-size: 32px;
    line-height: 47px;
  }

  .application__top {
    margin-bottom: 40px;
  }

  .app-item__title {
    color: var(--black);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 41px;
  }
}
