header {
    background-color: #0d47a1;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}

body {
    background-color: #eff8ff;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
  }
  
  .loading-text {
    font-size: 24px;
    color: #333;
  }
  
  